<div class="Descripcion">
    <div class="contenedor">
        <h1>"La libertad está en ser dueños de nuestra propia vida" (Platón)</h1>  
    </div>
</div>
<div class="Info contenedor">
    <h1>Psicología</h1><br>

    <p>
La psicología es una de las ciencias más apasionantes que existen. Comprender el por qué de nuestro comportamiento, los misterios de la personalidad y de la mente, entender qué procesos hay detrás de la inteligencia, cómo nos desarrollamos o incluso descubrir cómo mejorar nuestras relaciones, son dimensiones que desvela esta disciplina enriquecedora que ponemos a tu alcance. 
    </p>


    <div class="contenedor-controles-titulo">
        <h3>Informacion</h3>
        <div class="indicadores">
        </div>
    </div>
    <div class="contenedor-principal">
        <button role="button" id="flecha-izquierda" class="flecha-izquierda"></button>
        <div class="contenedor-carousel">
            <div class="carousel">
                <div class="pagina">
                    <a href="html/Primera_PagWeb/fundamentos.html"><img src="public/img/1.jpg" alt=""></a>
                    <h4>Tecnologia</h4>
                </div>
                <div class="pagina">
                    <a href="html/Avances_teccnlogicos/index.html"><img src="public/img/2.jpg" alt=""></a>
                    <h4>Avances Tecnologicos</h4>
                </div>
                <div class="pagina">
                    <a href="html/proyecto _del_subm 2/promociones.html"><img src="public/img/3.jpg" alt=""></a>
                    <h4>Promociones</h4>
                </div>
                <div class="pagina">
                    <a href="html/tipos_de_tecnologia/TIPOS DE TECNOLOGIA.HTML"><iframe width="560" height="315" src="https://www.youtube.com/embed/fmGANe_wnng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                    <h4>Tipos de Tecnologias</h4>
                </div>
            </div>
        </div>
        <button role="button" id="flecha-derecha" class="flecha-derecha"></button>
    </div>
</div>
<script src="public/js/main.js"></script>