<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRISMAS</title>
    <link href="public/styles/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="public/favicon.ico">
    <script src="https://kit.fontawesome.com/9ab7dee696.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="contenedor">
            <img src="public/favicon.ico" alt="">
            <h2 class="Logotipo"> Crismas</h2>

            <nav>
                <a href="#" class="activo">Inicio</a>
                <a href="#" class="">Inicio2</a>
            </nav>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div class="contenedor">
            <p></p>

            <a href="#">CorreoContacto@Mail.Com</a>

            <nav>
                <a href="#" class="activo"><img class="img1" src="public/img/social_facebook_fb_35.png" alt=""></a>
                <a href="#" class="activo"><img class="img1" src="public/img/social_Twitter_38.png" alt=""></a>
                <a href="#" class="activo"><img class="img1" src="public/img/social_instagram_3.png" alt=""></a>
                <a href="#" class="activo"><img class="img1" src="public/img/social_youtube_23.png" alt=""></a>
            </nav>
        </div>
    </footer>
</body>
</html>